[user]
  email = larsenhauge@gmail.com
  name = Lars Petter Hauge
[core]
  editor = nvim
  pager = delta
  excludesfile = ~/.gitignore
[init]
  defaultBranch = main
[color]
  ui = true
[delta]
  side-by-side = true
  line-numbers = true
  diff-so-fancy = true
  navigate = true    # use n and N to move between diff sections
  map-styles = bold purple => syntax magenta, bold cyan => syntax blue
  features = my-dark-theme zebra-dark
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[interactive]
  diffFilter = delta --color-only
  branch = true
[rebase]
  autosquash = true
[merge]
  conflictstyle = diff3
[credential]
  helper = cache --timeout=3600
[push]
  default = simple
  autoSetupRemote = true
[diff]
  colorMoved = default
  tool = vimdiff
[difftool]
  prompt = false
[alias]
  # listing aliases
  alias = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /

  # misc
  s = status

  ls = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lg1  = log --graph --all --format=format:'%C(bold blue)%ad %C(bold magenta)%an %C(reset)%C(white)%s%C(reset) %C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --decorate --date=short
  lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

  # inspect last commit
  dl = "!git lg2 -1"
  dlc = diff --cached HEAD^

  # finding file
  f = "!git ls-files | grep -i"

  # diff with vim
  d = difftool
[pull]
	ff = only
	rebase = true
