[user]
  email = larsenhauge@gmail.com
  name = Lars Petter Hauge
[core]
  editor = nvim
  excludesfile = ~/.gitignore
[init]
  defaultBranch = main
[color]
  ui = true
[interactive]
  branch = true
[rebase]
  autosquash = true
[merge]
  conflictstyle = diff3
[credential]
  helper = cache --timeout=3600
[push]
  default = simple
  autoSetupRemote = true
[diff]
  colorMoved = default
  tool = vimdiff
[difftool]
  prompt = false
[alias]
  # listing aliases
  alias = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /

  # misc
  s = status

  ls = log --color --graph --abbrev-commit --pretty=format:'%C(red bold)%h%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%Creset %C(yellow)%d%Creset'
  lg = log --oneline --color --graph --abbrev-commit --decorate --branches --tags --remotes

  # inspect last commit
  sh = show HEAD
  d = diff
  ds = diff --staged

  # finding file
  f = "!git ls-files | grep -i"

[pull]
	ff = only
	rebase = true
